footer.footer
  .container
    .footer__inner
      a.footer__link(href="#") Политика конфиденциальности
      a.footer__logo.logo(href="#")
        img.logo__img(src="img/logo.svg" alt="logo")
      ul.list
        li.list__item
          a.list__link(href="#")
            img.list__img(src="img/twitter.svg" alt="twitter")
        li.list__item
          a.list__link(href="#")
            img.list__img(src="img/google.svg" alt="google")
        li.list__item
          a.list__link(href="#")
            img.list__img(src="img/facebook.svg" alt="facebook")

