header.header 
  .container
    .header__top
      button.header__nav 
        img.header__nav-img(src="img/burger.svg" alt="burger button")
      a.logo(href="#")
        img.logo__img(src="../img/logo.svg" alt="logo")
      ul.list 
        li.list__item 
          a.list__link(href="#")
            img.list__img(src="img/twitter.svg" alt="twitter")
        li.list__item 
          a.list__link(href="#")
            img.list__img(src="img/google.svg" alt="google")
        li.list__item 
          a.list__link(href="#")
            img.list__img(src="img/facebook.svg" alt="facebook")
  .header__content 
    h1.title The VISION AVTR
    p.title-descr Inspered by the future