section.concept 
  .container
    .concept__inner 
      h3.concept__title.section__title CONCEPT
      p.concept__text Электромобильность в гармонии с человеком и природой. Экологичная технология органических аккумуляторов и продуманная операционная стратегия концепт-кара VISION AVTR. 
      img.concept__img(src="../img/main-img.jpg" alt="Consept image")
